.pricing_table_area {
    background: url(../Images/bg-image/price-bg2.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 108vh; */
    background-position: top left;
  }
  .pricing_table:hover{
      border: 2px solid transparent;
      transition: transform ease-in-out 0.3s;
  }
  .pricing_table:hover{
      border: 2px solid #3CEDCE;
  }
  .pricing_header{
   border-bottom: 1px solid #4FD1CB;
   transition: transform ease-in-out 0.6s;
  }
  .pricing_header:hover{
   border-bottom: 1px solid var(--gray);
  }
  .pricing_header h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 56px;
    color:#494242;
  }
  .pricing_header p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: var(--gray);
  }
  .pricing_body ul{
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
  }
  .pricing_body ul li{
      display: block;
      color: var(--dark);
      font-weight: 400;
      font-size: 19px;
  }
  .pricing_table button{
      visibility: hidden;
  }
  .pricing_table:hover button{
      visibility: visible;
  }